In [4]:
import pandas as pd
index = ['메로나','누가바','빠비코']
values = [500, 800, 200]
s = pd.Series(values, index)
s

메로나    500
누가바    800
빠비코    200
dtype: int64

In [5]:
print(s.iloc[0])

500

In [4]:
print(s.iloc[2])

200

In [5]:
print(s.iloc[-1])

200

In [6]:
print(s.loc['메로나'])

500

In [7]:
print(s['빠비코'])

200

In [8]:
print(s.iloc[0:2])

메로나    500
누가바    800
dtype: int64

In [9]:
print(s.loc[:])

메로나    500
누가바    800
빠비코    200
dtype: int64

In [10]:
s.loc['메로나':]

메로나    500
누가바    800
빠비코    200
dtype: int64

In [11]:
s.loc[:'누가바']

메로나    500
누가바    800
dtype: int64

In [17]:
target = [0,2]
s.iloc[target]
s.iloc[[0,2]]

메로나    500
빠비코    200
dtype: int64

In [18]:
s.loc[['메로나','빠비코']]

메로나    500
빠비코    200
dtype: int64

In [19]:
s.loc['아바지'] = 1000

In [21]:
s

메로나     500
누가바     800
빠비코     200
아바지    1000
dtype: int64

In [22]:
s['올마이트'] = 600

In [23]:
s

메로나      500
누가바      800
빠비코      200
아바지     1000
올마이트     600
dtype: int64

In [24]:
s.drop('메로나')

누가바      800
빠비코      200
아바지     1000
올마이트     600
dtype: int64

In [25]:
s.drop(['빠비코','누가바'])

메로나      500
아바지     1000
올마이트     600
dtype: int64

In [26]:
s

메로나      500
누가바      800
빠비코      200
아바지     1000
올마이트     600
dtype: int64

In [27]:
s['메로나']=100

In [29]:
s

메로나      100
누가바      800
빠비코      200
아바지     1000
올마이트     600
dtype: int64

In [30]:
s.loc['메로나']=30

In [31]:
s

메로나       30
누가바      800
빠비코      200
아바지     1000
올마이트     600
dtype: int64

In [32]:
s.loc[['누가바','아바지']] = 30,20

In [33]:
s

메로나      30
누가바      30
빠비코     200
아바지      20
올마이트    600
dtype: int64

In [34]:
s.iloc[0]=1

In [35]:
s

메로나       1
누가바      30
빠비코     200
아바지      20
올마이트    600
dtype: int64

In [36]:
s.drop(['메로나','누가바'],inplace = True)

In [37]:
s

빠비코     200
아바지      20
올마이트    600
dtype: int64

In [38]:
s['아바지'] = 2000

In [39]:
s

빠비코      200
아바지     2000
올마이트     600
dtype: int64

In [40]:
s[['아바지','올마이트']] = 10000, 20000

In [41]:
s

빠비코       200
아바지     10000
올마이트    20000
dtype: int64

In [4]:
c = s > 500
print(c)

메로나    False
누가바     True
빠비코    False
dtype: bool

In [5]:
s[c]# s안에 s조건

누가바    800
dtype: int64

In [17]:
 저가 = pd.Series([10,200,200,400,600])
고가 = pd.Series([100,300,400,500,600])

In [18]:
차 = 고가 - 저가
print(차)

0     90
1    100
2    200
3    100
4      0
dtype: int64

In [10]:
고가[차>=100]

1    300
dtype: int64

In [12]:
고가[(고가-저가)>=100]

1    300
dtype: int64

In [13]:
고가

0    100
1    300
2    400
3    500
4    600
dtype: int64

In [17]:
cond = (고가-저가)>=100
고가[cond]

1    300
2    400
3    500
dtype: int64

In [15]:
저가

0     10
1    200
2    400
3    600
dtype: int64

In [20]:
data = [93000,82400,99100,81000,72300]
index = ['05/14','05/15','05/16','05/17','05/18']
종가 = pd.Series(data,index)
print(종가)

05/14    93000
05/15    82400
05/16    99100
05/17    81000
05/18    72300
dtype: int64

In [21]:

종가[(종가>80000) & (종가 < 90000)]

05/15    82400
05/17    81000
dtype: int64

In [36]:
a=종가[(종가>80000) & (종가 < 90000)].index
for i in range(2):
    print(a[i],a[i][i])

05/15 0
05/17 5

In [37]:
 data={
     '종가':[1,2,3],
     'per':[1,2,3],
     'pbr':[1,2,3]
 }
index = ['삼성전자','네이버','카카오']
df = pd.DataFrame(data,index)
print(df)

      종가  per  pbr
삼성전자   1    1    1
네이버    2    2    2
카카오    3    3    3

In [26]:
data=[[1,2,3],
     [1,2,3]]
index = ['naver','삼성전자']
column = ['종가','저가','고가']
df = pd.DataFrame(data,index,column)
print(df)

       종가  저가  고가
naver   1   2   3
삼성전자    1   2   3

In [39]:
data = {
    '시가':[980,200,300],
    '고가':[990,300,500],
    '저가':[920,180,300],
    '종가':[930,180,400]
}
index=['비트코인','리플','이더리움']
df = pd.DataFrame(data=data,index=index)
df

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [46]:
df['시가']

비트코인    980
리플      200
이더리움    300
Name: 시가, dtype: int64

In [7]:
df[['시가','종가']]

       시가   종가
비트코인  980  930
리플    200  180
이더리움  300  400

In [8]:
df.loc[['리플','이더리움']]

       시가   고가   저가   종가
리플    200  300  180  180
이더리움  300  500  300  400

In [9]:
df.iloc[[0,1]]

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180

In [10]:
df.iloc[0:2]

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180

In [11]:
df.loc['비트코인','리플']

KeyError: '리플'

In [12]:
df.loc['비트코인':'리플']

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180

In [13]:
df.iloc[0,0]

980

In [14]:
df.iloc['비트코인','시가']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [48]:
df.loc['비트코인','시가']
df.loc[['비트코인','리플']]

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180

In [50]:
df.iloc[[0,1],[0,1]]

       시가   고가
비트코인  980  990
리플    200  300

In [17]:
df.iloc[[0,0],[0,2]]

       시가   저가
비트코인  980  920
비트코인  980  920

In [18]:
df.iloc[[0,1],[0,2]]

       시가   저가
비트코인  980  920
리플    200  180

In [19]:
df

       시가   고가   저가   종가
비트코인  980  990  920  930
리플    200  300  180  180
이더리움  300  500  300  400

In [20]:
df.iloc[[0,1,2],[2,3]]

       저가   종가
비트코인  920  930
리플    180  180
이더리움  300  400

In [21]:
df.iloc[[0:2],[0,1]]

SyntaxError: invalid syntax (4141318570.py, line 1)

In [22]:
df.iloc[0:2,[0,1]]

       시가   고가
비트코인  980  990
리플    200  300

In [5]:
import pyupbit

In [7]:
pip install pyupbit

Requirement already satisfied: pyupbit in c:\users\mark8\anaconda3\envs\test\lib\site-packages (0.2.33)
Requirement already satisfied: websockets in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pyupbit) (10.4)
Requirement already satisfied: requests in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pyupbit) (2.28.1)
Requirement already satisfied: pandas in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pyupbit) (1.5.2)
Requirement already satisfied: pyjwt>=2.0.0 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pyupbit) (2.6.0)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pandas->pyupbit) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from pandas->pyupbit) (2022.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from requests->pyupbit) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from requests->pyupbit) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from requests->pyupbit) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from requests->pyupbit) (3.4)
Requirement already satisfied: six>=1.5 in c:\users\mark8\anaconda3\envs\test\lib\site-packages (from python-dateutil>=2.8.1->pandas->pyupbit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pyupbit

In [12]:
df = pyupbit.get_ohicv['KRW-BTC']

AttributeError: module 'pyupbit' has no attribute 'get_ohicv'

In [4]:
df = pyupbit.get_ohlcv['KRW-BTC']

TypeError: 'function' object is not subscriptable

In [4]:
df = pyupbit.get_ohlcv('KRW-BTC')

In [30]:
df['range'] = df['high']-df['low']

In [31]:
df

,open,high,low,close,volume,value,range
2022-07-30 09:00:00,31402000.0,32500000.0,31171000.0,31281000.0,7360.059756,2.340095e+11,1329000.0
2022-07-31 09:00:00,31270000.0,31775000.0,30714000.0,30751000.0,7085.408944,2.217467e+11,1061000.0
2022-08-01 09:00:00,30750000.0,31099000.0,30392000.0,30851000.0,6632.833037,2.039703e+11,707000.0
2022-08-02 09:00:00,30851000.0,31141000.0,30246000.0,30754000.0,7603.475830,2.326983e+11,895000.0
2022-08-03 09:00:00,30754000.0,31467000.0,30509000.0,30708000.0,6104.358089,1.887195e+11,958000.0
...,...,...,...,...,...,...,...
2023-02-10 09:00:00,28193000.0,28350000.0,27916000.0,28120000.0,5826.760545,1.638027e+11,434000.0
2023-02-11 09:00:00,28145000.0,28379000.0,28057000.0,28377000.0,4616.926761,1.302070e+11,322000.0
2023-02-12 09:00:00,28360000.0,28490000.0,28141000.0,28263000.0,3940.503342,1.115020e+11,349000.0
2023-02-13 09:00:00,28264000.0,28379000.0,27910000.0,28309000.0,5446.985890,1.533389e+11,469000.0
2023-02-14 09:00:00,28334000.0,28344000.0,28055000.0,28240000.0,3050.544758,8.592750e+10,289000.0

In [32]:
df['volume'>7000]

TypeError: '>' not supported between instances of 'str' and 'int'

In [33]:
df[df['volume']>7000]

,open,high,low,close,volume,value,range
2022-07-30 09:00:00,31402000.0,32500000.0,31171000.0,31281000.0,7360.059756,2.340095e+11,1329000.0
2022-07-31 09:00:00,31270000.0,31775000.0,30714000.0,30751000.0,7085.408944,2.217467e+11,1061000.0
2022-08-02 09:00:00,30851000.0,31141000.0,30246000.0,30754000.0,7603.475830,2.326983e+11,895000.0
2022-08-10 09:00:00,30997000.0,32073000.0,30522000.0,31583000.0,8806.557975,2.763075e+11,1551000.0
2022-08-11 09:00:00,31583000.0,32879000.0,31581000.0,31770000.0,9244.456851,2.988636e+11,1298000.0
2022-08-12 09:00:00,31770000.0,32450000.0,31590000.0,32368000.0,8387.043922,2.675063e+11,860000.0
2022-08-19 09:00:00,31720000.0,31739000.0,28612000.0,28678000.0,11796.619470,3.547141e+11,3127000.0
2022-08-26 09:00:00,29299000.0,29655000.0,27790000.0,27969000.0,7729.246705,2.229064e+11,1865000.0
2022-09-06 09:00:00,27309000.0,27690000.0,26203000.0,26361000.0,8145.676585,2.206530e+11,1487000.0
2022-09-09 09:00:00,26887000.0,29616000.0,26864000.0,29350000.0,9802.804138,2.799645e+11,2752000.0
2022-09-12 09:00:00,30028000.0,30851000.0,29780000.0,30656000.0,7642.566033,2.323437e+11,1071000.0
2022-09-13 09:00:00,30684000.0,31300000.0,28200000.0,28371000.0,15229.115809,4.518100e+11,3100000.0
2022-09-14 09:00:00,28371000.0,28813000.0,27688000.0,28344000.0,8716.782685,2.472710e+11,1125000.0
2022-09-19 09:00:00,27490000.0,27732000.0,26216000.0,27566000.0,9719.594110,2.610364e+11,1516000.0
2022-09-21 09:00:00,26757000.0,27974000.0,26199000.0,26538000.0,9250.118767,2.494126e+11,1775000.0
2022-09-23 09:00:00,27571000.0,27788000.0,26709000.0,27594000.0,7237.642087,1.975800e+11,1079000.0
2022-09-27 09:00:00,27604000.0,29112000.0,27130000.0,27501000.0,11326.095177,3.191365e+11,1982000.0
2022-09-28 09:00:00,27495000.0,28421000.0,26800000.0,27952000.0,7772.212439,2.141910e+11,1621000.0
2022-10-13 09:00:00,27460000.0,28063000.0,26400000.0,27810000.0,8203.958395,2.222777e+11,1663000.0
2022-11-02 09:00:00,28753000.0,29299000.0,28500000.0,28632000.0,7547.861369,2.176693e+11,799000.0
2022-11-04 09:00:00,28685000.0,29679000.0,28683000.0,29388000.0,7964.117852,2.317181e+11,996000.0
2022-11-08 09:00:00,28945000.0,29020000.0,25842000.0,26650000.0,21680.492361,5.947722e+11,3178000.0
2022-11-09 09:00:00,26652000.0,26832000.0,22564000.0,22919000.0,22296.852651,5.527159e+11,4268000.0
2022-11-10 09:00:00,22924000.0,25120000.0,22840000.0,24779000.0,20710.252778,4.980172e+11,2280000.0
2022-11-11 09:00:00,24779000.0,24928000.0,23000000.0,23656000.0,12736.126084,3.037494e+11,1928000.0
2022-11-13 09:00:00,23380000.0,23515000.0,22500000.0,22510000.0,7169.951279,1.645994e+11,1015000.0
2022-11-14 09:00:00,22511000.0,23438000.0,21509000.0,22701000.0,13460.021929,3.018795e+11,1929000.0
2023-01-12 09:00:00,22475000.0,23900000.0,22415000.0,23552000.0,7650.901631,1.759627e+11,1485000.0
2023-01-14 09:00:00,24802000.0,26201000.0,24766000.0,25881000.0,14303.123998,3.680309e+11,1435000.0
2023-01-18 09:00:00,26255000.0,26795000.0,25502000.0,25718000.0,8246.642922,2.167095e+11,1293000.0
2023-01-21 09:00:00,28025000.0,29000000.0,27721000.0,28333000.0,7165.779761,2.036514e+11,1279000.0
2023-02-06 09:00:00,28990000.0,29439000.0,28650000.0,29222000.0,12169.807785,3.541075e+11,789000.0
2023-02-07 09:00:00,29225000.0,29561000.0,29017000.0,29452000.0,16246.138274,4.754840e+11,544000.0
2023-02-08 09:00:00,29452000.0,29591000.0,28940000.0,29303000.0,9798.406279,2.880024e+11,651000.0
2023-02-09 09:00:00,29303000.0,29400000.0,28135000.0,28193000.0,12573.152748,3.626466e+11,1265000.0

In [35]:
df.drop('open',axis = 1,inplace = True)

In [36]:
time = ['2021-10-03','2022-10-22']
index = pd.to_datetime(time)
print(index)

DatetimeIndex(['2021-10-03', '2022-10-22'], dtype='datetime64[ns]', freq=None)

In [47]:
a = df.index[0:4]
df.drop(a,axis=0)

,high,low,close,volume,value,range
2022-08-03 09:00:00,31467000.0,30509000.0,30708000.0,6104.358089,1.887195e+11,958000.0
2022-08-04 09:00:00,30980000.0,30159000.0,30315000.0,5092.111161,1.560295e+11,821000.0
2022-08-05 09:00:00,30990000.0,30261000.0,30767000.0,5525.870434,1.694478e+11,729000.0
2022-08-06 09:00:00,30843000.0,30509000.0,30534000.0,2650.633559,8.142511e+10,334000.0
2022-08-07 09:00:00,30899000.0,30440000.0,30685000.0,2514.515032,7.701918e+10,459000.0
...,...,...,...,...,...,...
2023-02-10 09:00:00,28350000.0,27916000.0,28120000.0,5826.760545,1.638027e+11,434000.0
2023-02-11 09:00:00,28379000.0,28057000.0,28377000.0,4616.926761,1.302070e+11,322000.0
2023-02-12 09:00:00,28490000.0,28141000.0,28263000.0,3940.503342,1.115020e+11,349000.0
2023-02-13 09:00:00,28379000.0,27910000.0,28309000.0,5446.985890,1.533389e+11,469000.0
2023-02-14 09:00:00,28344000.0,28055000.0,28240000.0,3050.544758,8.592750e+10,289000.0

In [5]:
df['open'] + 100

2022-07-30 09:00:00    31402100.0
2022-07-31 09:00:00    31270100.0
2022-08-01 09:00:00    30750100.0
2022-08-02 09:00:00    30851100.0
2022-08-03 09:00:00    30754100.0
                          ...
2023-02-10 09:00:00    28193100.0
2023-02-11 09:00:00    28145100.0
2023-02-12 09:00:00    28360100.0
2023-02-13 09:00:00    28264100.0
2023-02-14 09:00:00    28334100.0
Name: open, Length: 200, dtype: float64